/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6rem;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
  font-weight: normal;
}
h4,
h5 {
  font-size: 2.8rem;
}
a {
  color: white;
  text-decoration: none;
  font-size: 1.7rem;
}

button:hover {
  background: #9c1a14;
  color: white;
  border-bottom-right-radius: 0%;
}
/* Nav  With Home Section */

.main-head {
  background: #6a6c57;
  color: white;
  position: sticky;
  top: 0px;
  z-index: 3;
}
nav {
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
nav ul li {
  position: relative;
}
nav ul li:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -7px;
  height: 4px;
  width: 0%;
  background: #9c1a14;
  transition: all 0.4s linear;
}
nav ul li:hover:after {
  width: 100%;
}
#logo {
  flex: 2 1 40rem;
  font-family: "Orelega One", cursive;
  font-weight: 400;
  letter-spacing: 0.5rem;
  user-select: none;
}
.btn-home {
  margin-top: 2rem;
  padding: 2rem 6rem;
  background: #bbbb93;
  border: none;
  color: #9c1a14;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  letter-spacing: 0.4rem;
  border-bottom-right-radius: 90%;
}
.off-price {
  padding: 1.2rem 5rem;
  background: #6a6c57;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
  letter-spacing: 0.4rem;
  border: 0.1rem solid;
}
#home {
  min-height: 90vh;
  background: linear-gradient(
      180deg,
      rgba(110, 111, 91, 0.5747432762167367) 27%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("./img/landing-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#home h3 {
  padding: 3rem;
  color: rgb(233, 227, 227);
}

/* Locations SECTION */

#locations {
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}
.img-locations {
  background-color: #6a6c57;
  flex: 1 1 40rem;
  position: relative;
}
.img-center img {
  animation: cityanim 30s infinite alternate ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}
.locations-head {
  background: #bbbb93;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2 1 20rem;
}
.locations-head h1 {
  font-size: 4.8rem;
  text-align: center;
  margin: 2rem 0rem 5rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
  text-decoration-color: #9c1a14;
}
.locations-head h2 {
  padding: 1rem 2rem;
  font-size: 4rem;
}
.locations-head h2::before {
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  margin-right: 1rem;
}
.locations-head p {
  padding: 1rem 2rem;
  font-size: 2.3rem;
  background: linear-gradient(#131c27, #9c1a14);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.img-locations .text-left-1,
.text-right-1 {
  font-size: 4rem;
}
/*Animation for img in Location Section*/
@keyframes cityanim {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

/*Services Section*/
#services {
  background: #bbbb93;
}
.services-head {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.services-head h2 {
  margin-top: 3rem;
  text-decoration: underline;
  text-decoration-color: #9c1a14;
  text-decoration-thickness: 0.5rem;
}
.services-head p {
  margin-top: 3rem;
  width: 85%;
  text-align: center;
}
.cards {
  width: 85%;
  margin: auto;
  display: flex;
  min-height: 80vh;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  position: relative;
  width: 400px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #6a6c57;
  margin: 2rem 1.5rem;
  flex: 1 1 29.4rem;
}
.card:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(-100% + 8px);
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  transition: 0.5s ease-in-out;
}
.card:hover:before {
  bottom: 0px;
}
.card:before {
  background: #9c1a14;
}

.card-icon {
  position: relative;
  z-index: 2;
}
.card-icon i {
  color: #9c1a14;
  font-size: 50px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.card-icon h4 {
  margin-bottom: 2rem;
  transition: 0.5s;
  color: #bbbb93;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-icon p {
  transition: 0.5s;
  color: #bbbb93;
}
.card-icon a {
  margin-top: 2rem;
  display: inline-block;
  transition: 0.5s;
  background: #6a6c57;
  color: #fff;
  padding: 6px 10px;
  font-weight: 600;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
}
.card:hover h4,
.card:hover p,
.card:hover i {
  color: #fff;
}

/* Media Query */
@media screen and (min-width: 1160px) {
  .img-locations .text-top,
  .text-left-1,
  .text-right-1 {
    display: none;
  }
}
@media screen and (max-width: 1160px) {
  html {
    font-size: 60%;
  }
  /* Responsive for Home*/
  .off-price {
    display: none;
  }
  .locations-head {
    display: none;
  }
  /*Responsive for Locations*/

  .img-locations {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 10rem 60rem;
    grid-template-areas:
      " . top-center . "
      "left-1 img right-1"
      "left-2 . right-2";
  }
  .img-locations .text-top {
    grid-area: top-center;
    justify-self: center;
    margin: 3rem 0rem;
  }
  .img-locations .text-top h2 {
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
  }
  .img-locations .text-left-1 {
    grid-area: left-1;
    margin-top: 15rem;
    color: #bbbb93;
  }
  .img-locations .text-left-1 h2 {
    font-size: 4rem;
    color: black;
  }
  .img-center {
    grid-area: img;
    align-self: center;
    justify-self: center;
  }
  .img-locations .text-right-1 {
    grid-area: right-1;
    margin-top: 15rem;
    color: #bbbb93;
  }
  .img-locations .text-right-1 h2 {
    font-size: 4rem;
    color: black;
  }
}
@media screen and (max-width: 933px) {
  /* Responsive for Home*/
  #home h2 {
    font-size: 4rem;
  }
  #home h3 {
    font-size: 3rem;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding-bottom: 1rem;
    padding-right: 2rem;
  }
  /*Responsive for Locations*/
  .img-locations {
    display: none;
  }
  .locations-head {
    display: block;
  }
}
@media screen and (max-width: 813px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 45%;
  }
  #logo {
    padding-right: 2rem;
  }
}
